
<mat-card >
    <mat-card-header>
      <h1>{{ auction?.title }}</h1>
    </mat-card-header>
    <img mat-card-image src="{{ auction?.imagePath }}" alt="Lights">
    <mat-card-content>
      <p>{{ auction?.description }}</p>
    </mat-card-content>
    <mat-card-actions style="position:relative;">
      <button mat-button>{{ day }}d | {{ hours }}h | {{ minutes }}m | {{ seconds }}s</button>
      <button mat-button (click)="onSelect()" style="background: #3f51b5; position: absolute;right: 0;color: white;">See Detail</button>
    </mat-card-actions>
</mat-card>