<form class="example-form" (ngSubmit)="onLogin(f)" #f="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>User Name</mat-label>
      <input 
      type="text" 
      name="username"
      ngModel 
      required 
      matInput 
      placeholder="Ex. pat123">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input 
        type="password"
        name="password" 
        ngModel 
        required 
        matInput 
        placeholder="Ex. 123@mGXY">
      </mat-form-field>
    <button type="submit" mat-button color="primary">Login</button>
</form>