<form class="example-form" (ngSubmit)="onLogin(f)" #f="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input 
      type="email" 
      ngModel 
      required 
      email
      matInput 
      placeholder="Ex. pat@example.com">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input 
        type="password" 
        ngModel 
        required 
        matInput 
        placeholder="Ex. 123@mGXY">
      </mat-form-field>
    <button type="submit" mat-button color="primary">Submit</button>
</form>