<div>
    <div>
        <img src="{{ auction.imagePath }}" alt="">
        <div>
            <label for="">Title: {{ auction.title }}</label>
            <label for="">Time Left: {{ timeLeft }}</label>
            <label for="">Price: $</label>
            <p>Description: {{ auction.description }} </p>
            <button mat-button>Place a Bid</button>
        </div>
    </div>
    <table mat-table [dataSource]="bids" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="auction_id">
            <th mat-header-cell *matHeaderCellDef> Auction ID </th>
            <td mat-cell *matCellDef="let element"> {{element.auctionId}} </td>
        </ng-container>
        <ng-container matColumnDef="buyer_id">
            <th mat-header-cell *matHeaderCellDef> Buyer ID </th>
            <td mat-cell *matCellDef="let element"> {{element.buyerId}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.bidPrice}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Bid Date </th>
            <td mat-cell *matCellDef="let element"> {{element.bidDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>